@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Graphik;
  src: url("./Fonts/GraphikBlack.otf"),
  url("./Fonts/GraphikExtralight.otf"),
  url("./Fonts/GraphikLight.otf"),
  url("./Fonts/GraphikMedium.otf"),
  url("./Fonts/GraphikRegular.otf"),
  url("./Fonts/GraphikSemibold.otf"),
  url("./Fonts/GraphikBold.otf");
} */
@layer base {
  @font-face {
    font-family: Graphik;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./Fonts/GraphikRegular.otf");
  }
  @font-face {
    font-family: Graphik;
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url("./Fonts/GraphikLight.otf");
  }
  @font-face {
    font-family: Graphik;
    font-style: Extra Light;
    font-weight: 100;
    font-display: swap;
    src: url("./Fonts/GraphikExtralight.otf");
  }
  @font-face {
    font-family: Graphik;
    font-style: Medium;
    font-weight: 500;
    font-display: swap;
    src: url("./Fonts/GraphikMedium.otf");
  }
  @font-face {
    font-family: Graphik;
    font-style: Semi Bold;
    font-weight: 600;
    font-display: swap;
    src: url("./Fonts/GraphikSemibold.otf");
  }
  @font-face {
    font-family: Graphik;
    font-style: Boldt;
    font-weight: 700;
    font-display: swap;
    src: url("./Fonts/GraphikBold.otf");
  }
}

:root {
  font-family: Graphik, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}

.slide-track{
  animation: scroll 15s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.dot{
  animation: loading 0.5s ease-in-out infinite alternate;
}

.dot:nth-child(1){
 animation-delay: 0.15s;
}
.dot:nth-child(2){
  animation-delay: 0.35s;
}
.dot:nth-child(3){
  animation-delay: 0.55s;
}

@keyframes loading{
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(5px);
  }
}